@import url('https://fonts.googleapis.com/css?family=Prompt:400,800');

.color-bar {
    width: 100%;
    color: #fff;
    font-family: 'Prompt', sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.color-data {
    margin: 0;
    padding: 0;
    width: 33%;
    -webkit-text-stroke: 1px black;
}