.color-bar {
    width: 100%;
    color: #fff;
    /* font-size: 50px; */
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.color-data {
    margin: 0;
    padding: 0;
    -webkit-text-stroke: 1px black;
}