.main {
    max-width: 1200px;
    width: 80vw;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
}

.one {
    background-color: blue;
    min-height: 320px;
    min-width: 70%;
    flex-grow: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  
#ImageDisplay {
    max-height: 300px !important;
    max-width: 100%;
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    position: absolute;
}

.bounding-box:hover {
    box-shadow: 0 0 0 3px #d31313 inset;
}

.active {
    box-shadow: 0 0 0 3px #d31313 inset;
}
  
.two {
    background-color: red;
    min-height: 500px;
    min-width: 200px;
    flex-grow: 1;
}