.main {
    max-width: 1200px;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border: 5px solid rgb(70, 86, 139);
    margin-bottom: 100px;
}

.one {
    background-color: rgb(39, 39, 39);
    min-height: 320px;
    min-width: 70%;
    flex-grow: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  
#ImageDisplay {
    max-height: 300px !important;
    max-width: 100%;
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    position: absolute;
}

.bounding-box:hover {
    box-shadow: 0 0 0 3px #d31313 inset;
}

.active {
    box-shadow: 0 0 0 3px #d31313 inset;
}
  
.two {
    background-color: rgb(235, 235, 235);
    min-height: 450px;
    min-width: 200px;
    flex-grow: 1;
}