.data-bar {
    display: flex;
    justify-content: space-between;
    padding: 2.7px 10px 2.7px 10px;
}

.odd {
    background-color: rgb(46, 63, 119);
}

.data-title {
    margin: 3px 0 0 0;
    font-size: 24px;
}

.data-instr {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 0 10px 5px 10px;
    border-bottom: 1px solid rgb(46, 63, 119);
}

.appearance {
    text-align: start;
}

.probability {
    text-align: end;
}

.data-tag {
    color: rgb(235, 235, 235);
    text-align: start;
    font-size: 16px;
}