* {
    margin: 0;
    padding: 0;
  }
  
  .title {
    font-size: 20px;
    width: 100%;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    background-color: #111e62;
    transition: all .4s;
  /*   -webkit-text-stroke: 1px white; */
  }

  .card {
    width: 200px;
    height: 200px;
    /* margin: 20px; */
    display: inline-block;
    background-size: 200%;
    background-position: center;
    border-radius: 35px;
    transition: all .4s;
    text-align: right;
    position: relative;
  }
  
  .card:hover,
  .Link:focus > .card {
    width: 180px;
    height: 180px;
    background-size: 300%;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .card:hover > .card-title, 
  .card:focus > .card-title {
    font-size: 22px;
}
  
  .card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .4s;
  }

  .menu-option {
      margin: 15px;
  }