* {
    margin: 0;
    padding: 0;
  }
  
.menu-option {
    margin: 10px;
    text-decoration: none;
    color: #161616;
}

.menu-option:hover .card__image {
    background-size: 130%;
}

.menu-option:hover .card {
    background-color: #dfdfdf;

}

.card {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    transition: all .3s;
}

.card__image {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: 100%;
    transition: all .5s;
}

.card__title {
    margin-top: 10px;
    font-size: 40px;
    color: #0a61b3;
}

.card__desc {
    margin-top: 20px;
    font-size: 20px;
}