.App {
  text-align: center;
  height: 100vh;
  /* display: table; */
  font-family: monospace, sans-serif;
}

.center{
    display: flex;
    justify-content: center;
}

.absolute {
    position: absolute;
}

.message {
    color: rgb(235, 235, 235);
    font-size: 30px;
    font-family: monospace, sans-serif;
}

.menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}