.App {
  text-align: center;
  background-color: rgb(36, 43, 80);
  height: 100vh;
  display: table;
  font-family: monospace, sans-serif;
}

.center{
    display: flex;
    justify-content: center;
}

.absolute {
    position: absolute;
}

.message {
    color: rgb(235, 235, 235);
    font-size: 30px;
    font-family: monospace, sans-serif;
}